.header {
	min-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 92%;
	display: flex;
	max-width: 1240px;
	margin: 0 auto;
	flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
	.header {
		flex-direction: column;
		align-items: center;
		margin-top: 7%;
		align-items: center;
		width: 90%;
	}
}