.header {
	max-width: calc(var(--width));
	min-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	
	border: red 1px solid;
	display: flex;
	max-width: 1240px;
	margin: 0 auto;
	
}
