.intro {
    width: 92%;
    margin: 0 auto;
    display: flex;
    max-height: 383px;
    margin-top: 92px;
    align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 700px){
    .intro  {
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }
}