.sea__place {
    display: grid;
    grid-template-columns: 50% 1fr;
    background-color: #f2f2f2;
    grid-template-rows: 575px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .sea__place {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        justify-content: center;
    }
}