.intro__image {
    width: 30.5%;
    max-height: 383px;
    min-height: 200px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .intro__image {
        width: 90%;
        min-height: min-content;
    }
}

@media screen and (min-width: 426px) and (max-width:700px) {
    .intro__image {
        width: 80%;
        max-width: 370px;
    }
}